.row
  .two.columns
    .row
      .twelve.columns
        %h5{:style => 'padding:15px 20px 0px;display:block;'}
          Triad USGBC Logo
  .ten.columns
    %ul.nav-bar
      %li.has-flyout
        %a{:href => '#about-us', :class => 'main'}
          About Us
        %a{:href => '#', :class => 'flyout-toggle'}
          %span
        .flyout.small
          %a{:href => '#'}
            I go nowhere
      %li
        %a{:href => '#membership', :class => 'main'}
          Membership
      %li
        %a{:href => '#event-calendar', :class => 'main'}
          Event Calendar
      %li
        %a{:href => '#advocacy', :class => 'main'}
          Advocacy
      %li
        %a{:href => '#sponsorship', :class => 'main'}
          Sponsorship
      %li
        %a{:href => '#sponsorship', :class => 'main'}
          Resources
