.row
  .two.columns
    .row
      .twelve.columns
        %h5{:style => 'padding:15px 20px 0px;display:block;'}
          Triad USGBC Logo
  .ten.columns
    %ul.nav-bar
      %li
        %a{:href => '#about-us'}
          About Us
      %li
        %a{:href => '#membership'}
          Membership
      %li
        %a{:href => '#event-calendar'}
          Event Calendar
      %li
        %a{:href => '#advocacy'}
          Advocacy
      %li
        %a{:href => '#sponsorship'}
          Sponsorship
      %li
        %a{:href => '#sponsorship'}
          Resources
