!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title USGBC PTNC Redesign
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen, projector, print', :href => 'stylesheets/app.css'}
    /[if IE lt 9]
      %link{:rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/ie.css'}
  %body
    .container
      #header= render '_header.html.haml'
      #content
        .row
          .four.columns
            .panel
              %h4
                Welcome to the USGBC
            %p
              The U.S. Green Building Council’s (the USGBC) core purpose is to transform the way buildings and communities are designed, built and operated, enabling an environmentally and socially responsible, healthy, and prosperous environment.
              The Piedmont Triad NC Chapter mission is to accelerate the implementation of sustainable building concepts, technologies, and practices through education and advocacy in Piedmont Triad, NC communities and region.
            %hr
            .row
              .twelve.columns
                %h2
                  Sponsor 1
            .row
              .twelve.columns
                %h2
                  Sponsor 2
            .row
              .twelve.columns
                %h2
                  Sponsor 3
            .row
              .twelve.columns
                %h2
                  Sponsor 4
          .eight.columns
            .row
              .twelve.columns
                %h4
                  Heading 1
                %p
                  Vestaibulum in venenatis lacus. Suspendisse elementum sem eu sem bibendum posuere. Nullam viverra porta odio, ut aliquet odio tincidunt in. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eleifend justo in nibh elementum cursus. Aenean auctor ante vitae leo blandit in suscipit dui lobortis. Cras orci dui, convallis sed posuere id, varius ut purus. Sed interdum sodales leo, et sodales mauris ultricies ut. Etiam blandit sagittis ullamcorper. Sed iaculis pharetra vehicula. Nunc neque diam, viverra sed vehicula sed, commodo quis ante. Nulla facilisi. Etiam accumsan, turpis vel luctus sollicitudin, felis quam gravida massa, vitae ornare nibh nunc volutpat augue.
                  Nam ut nbh est, lacinia ullamcorper est. Quisque et lacus vitae massa pulvinar rhoncus. Etiam scelerisque venenatis erat, vitae hendrerit metus pellentesque posuere. Sed felis tortor, ultricies quis venenatis et, fermentum ac justo. Vivamus non nisl in metus malesuada pretium. Phasellus cursus mi eu nunc aliquet aliquam. Nulla dictum urna hendrerit eros gravida porttitor. Mauris posuere neque id quam egestas vulputate. In tortor massa, eleifend et placerat vel, posuere in.
            .row
              .twelve.columns
                %h4
                  Heading 2
                %p
                  Vestibulum in venenatis lacus. Suspendisse elementum sem eu sem bibendum posuere. Nullam viverra porta odio, ut aliquet odio tincidunt in. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eleifend justo in nibh elementum cursus. Aenean auctor ante vitae leo blandit in suscipit dui lobortis. Cras orci dui, convallis sed posuere id, varius ut purus. Sed interdum sodales leo, et sodales mauris ultricies ut. Etiam blandit sagittis ullamcorper. Sed iaculis pharetra vehicula. Nunc neque diam, viverra sed vehicula sed, commodo quis ante. Nulla facilisi. Etiam accumsan, turpis vel luctus sollicitudin, felis quam gravida massa, vitae ornare nibh nunc volutpat augue.
                  Nam ut nibh est, lacinia ullamcorper est. Quisque et lacus vitae massa pulvinar rhoncus. Etiam scelerisque venenatis erat, vitae hendrerit metus pellentesque posuere. Sed felis tortor, ultricies quis venenatis et, fermentum ac justo. Vivamus non nisl in metus malesuada pretium. Phasellus cursus mi eu nunc aliquet aliquam. Nulla dictum urna hendrerit eros gravida porttitor. Mauris posuere neque id quam egestas vulputate. In tortor massa, eleifend et placerat vel, posuere in.
            .row
              .twelve.columns
                %h4
                  Heading 3
                %p
                  Vestibulum in venenatis lacus. Suspendisse elementum sem eu sem bibendum posuere. Nullam viverra porta odio, ut aliquet odio tincidunt in. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eleifend justo in nibh elementum cursus. Aenean auctor ante vitae leo blandit in suscipit dui lobortis. Cras orci dui, convallis sed posuere id, varius ut purus. Sed interdum sodales leo, et sodales mauris ultricies ut. Etiam blandit sagittis ullamcorper. Sed iaculis pharetra vehicula. Nunc neque diam, viverra sed vehicula sed, commodo quis ante. Nulla facilisi. Etiam accumsan, turpis vel luctus sollicitudin, felis quam gravida massa, vitae ornare nibh nunc volutpat augue.
                  Nam ut nibh est, lacinia ullamcorper est. Quisque et lacus vitae massa pulvinar rhoncus. Etiam scelerisque venenatis erat, vitae hendrerit metus pellentesque posuere. Sed felis tortor, ultricies quis venenatis et, fermentum ac justo. Vivamus non nisl in metus malesuada pretium. Phasellus cursus mi eu nunc aliquet aliquam. Nulla dictum urna hendrerit eros gravida porttitor. Mauris posuere neque id quam egestas vulputate. In tortor massa, eleifend et placerat vel, posuere in.
            .row
              .twelve.columns
                %h4
                  Heading 4
                %p
                  Vestibulum in venenatis lacus. Suspendisse elementum sem eu sem bibendum posuere. Nullam viverra porta odio, ut aliquet odio tincidunt in. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eleifend justo in nibh elementum cursus. Aenean auctor ante vitae leo blandit in suscipit dui lobortis. Cras orci dui, convallis sed posuere id, varius ut purus. Sed interdum sodales leo, et sodales mauris ultricies ut. Etiam blandit sagittis ullamcorper. Sed iaculis pharetra vehicula. Nunc neque diam, viverra sed vehicula sed, commodo quis ante. Nulla facilisi. Etiam accumsan, turpis vel luctus sollicitudin, felis quam gravida massa, vitae ornare nibh nunc volutpat augue.
                  Nam ut nibh est, lacinia ullamcorper est. Quisque et lacus vitae massa pulvinar rhoncus. Etiam scelerisque venenatis erat, vitae hendrerit metus pellentesque posuere. Sed felis tortor, ultricies quis venenatis et, fermentum ac justo. Vivamus non nisl in metus malesuada pretium. Phasellus cursus mi eu nunc aliquet aliquam. Nulla dictum urna hendrerit eros gravida porttitor. Mauris posuere neque id quam egestas vulputate. In tortor massa, eleifend et placerat vel, posuere in.
      #footer= render '_footer.html.haml'


    %script{:src => 'javascripts/jquery-min.js'}
    %script{:src => 'javascripts/modernizr-foundation.js'}
    %script{:src => 'javascripts/jquery-placeholder-min.js'}
    %script{:src => 'javascripts/jquery-reveal.js'}
    %script{:src => 'javascripts/jquery-orbit140.js'}
    %script{:src => 'javascripts/jquery-tooltip-min.js'}
    %script{:src => 'javascripts/app.js'}
